/* You can add global styles to this file, and also import other style files */
.card,
.form {
  margin-top: 1rem;
}

.card:last-child {
  margin-bottom: 1rem;
}

body {
  background: rgb(94, 94, 94);
}

button:hover {
  cursor: pointer;
}
